[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
PIDFile=/run/jupyter.pid
ExecStart=/opt/jupyter_service.sh
Restart=always
RestartSec=10
WorkingDirectory=/home/{{ ssh_user }}
User={{ ssh_user }}

[Install]
WantedBy=multi-user.target